#container{
  width: 100%;
  height: 100%;
}
// ----------- Header -----------

header{
  width: 100%;
  height:80px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
// -----------  Menu bar -----------
homepage-menu{
  width: 60%;
}
// -----------  Main -----------
main{
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #6efaa8 , #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// first module
section{
flex:1;
}

.mainBoxes{
  display: flex;
  min-width: 720px;
  margin-top:120px;
}

section{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;
}

section img{
width: 100%;
height: 100%;
}

section div{
  width: 50%;
  height: 70%;
  font-family: "Varela Round";
  }
section div h1{
  margin-bottom:15px;
  font-size: 4rem;
  color:white;
}
section div h1 span{
color:#ff6060;
}
section div p{
  margin:0;
  font-size: 1.2rem;
}

#enterButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 25px;
  border-radius: 24px;
  margin-top: 20px;
  padding: 20px;
  background: #1b6e92;
  color: white;
  transition: 0.2s;
}

#enterButton:hover{
  background: #1b97cc;
  transform: scale(1.2);
}
// second module
.secondBox{
  display: flex;
  justify-content: center;
  margin:0;
  background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
  width: 100%;
}

.cards{
  display: flex;
  align-items: center;
  flex-flow: column;
  box-sizing: border-box;
  margin:40px;
  flex:1;
  height: 500px;
  background-image: linear-gradient(to bottom right, #E8637F 0%, #e25f7b  51%, rgb(160, 44, 69)  100%);
  transform: translate(0,-20%);
  padding: 30px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgb(209, 93, 93);
  border-radius: 10px;
  font-family: "Varela Round";
}

.cards:hover {
  background-position: bottom right;
  transform: scale(1.1);
  transform: translate(0,-30%);
  color:white;
}

.cards span{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.cards i,h1{
 margin-bottom:20px;
}

.cards h1{
  font-size: 2rem;
  font-weight: bold;
 }

.cards p{
  text-align: center;
 }

// -----------  Footer -----------

footer{
  width: 100%;
  height: 500px;
  background: #49cea1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoBox{
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: 90%;
  border-radius: 4px;
  border-top: 2px solid #2c3552;
  padding: 40px;
}
#footer-logo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#footer-logo img{
  width: 100%;
  height: 100%;
}

#footer-logo p{
  margin-top:5px;
  font-family: "Poppins";
  font-size: 1.5rem;
}

#infoBox ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Varela Round";
  font-size: 2rem;
}



