<div id="container">
  <header>
    <homepage-logo></homepage-logo>
    <homepage-menu></homepage-menu>
  </header>
  <main>
    <div class="mainBoxes">
      <section>
        <div>
          <h1>A inovação que salva<span> vidas</span></h1>
          <p>Dê o seu melhor para cuidar dos pacientes,<br>
            utilizando a melhor ferramenta para te auxiliar nesse desafio</p>
          <div id="enterButton">Saiba mais</div>
        </div>
      </section>
      <section>
        <img src="../../assets/images/medicineImage.png" alt="" />
      </section>
    </div>
  </main>
  <div class="mainBoxes secondBox">
    <div class="cards">
      <i><img src="../../assets/images/tech.png" alt=""></i>
      <span>
        <h1>Inteligencia artificial</h1>
        <p>Procuramos sempre as melhores tecnologias para auxiliar
          nossos clientes, e por isso utilizamos inteligencia
          artificial para comparação e indicação de possiveis relações
          de doenças entre os pacientes, utilizando os dados coletados
          podemos ter tambem uma taxa de probabilidade da doença diagnosticada
          ser a correta, dando mais certeza aos diagnosticos
        </p>
      </span>
    </div>
    <div class="cards">
      <i><img src="../../assets/images/hearth.png" alt=""></i>
      <span>
        <h1>Salvando Vidas
        </h1>
        <p>Nossas aplicações tem como foco ajudar o profissional
          da aréa medica, a dar o melhor atendimento possivel
          sendo assim estamos sempre em constante evolução
          pois nossa cultura é ajudar a salvar vidas e por isso
          precisamos sempre estar atualizados para auxiliar
          sempre com as melhores ferramentas possiveis no mercado,
          na busca de mitigar ao maximo as dificuldades que os profissionais
          passam rotineramente
        </p>
      </span>
    </div>
    <div class="cards">
      <i><img src="../../assets/images/machine.png" alt=""></i>
      <span>
        <h1>Monitoramento</h1>
        <p>
          Temos garantido uma monitoria diaria e initerrupta
          dos pacientes, utilizando as informações coletadas para sempre manter
          os profissionais da area medica atualizados, podendo essas informações
          serem acessadas de qualquer lugar, seja de um computador em sua casa
          ou utilizando o celular na rua
        </p>
      </span>
    </div>
    <div class="cards">
      <i><img src="../../assets/images/enchiridion.png" alt=""></i>
      <span>
        <h1>Prontuarios</h1>
        <p>
          Oferecemos um prontuario, facil, rapido e pratico, que
          pode ser feito de qualquer lugar, como por exemplo na casa do paciente,
          inclusive se não houver acesso a rede, ainda sim podera fazer o prontuario
          com a disponibilidade de alguns serviços offline, para que depois venha ser atualizado
          dessa forma garantimos que a meditech vai estar com você seja onde estiver
        </p>
      </span>
    </div>
  </div>
  <footer>
    <div id="infoBox">
      <div id="footer-logo">
        <img src="../../../assets/images/logo.png" alt="">
        <p>Meditech</p>
      </div>
      <ul>
        <li>Contato</li>
        <li>Sobre nós</li>
        <li>Ajuda</li>
      </ul>
    </div>
  </footer>
</div>
