nav{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

ul{
  height: 100%;
  margin:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

li{
  font-family:"Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  border: 1px solid #23bd63;
  border-radius: 24px;
  padding: 0.3rem 0.7rem;
  color:  #1278a7;
  transition: 0.2s;
}

li:hover{
  transform: scale(1.2);
  color:  #23bd63;
}

li:active{
  transition: 0s;
  border: 2px solid #0781b9;
}
