<div id="container">
  <div class="login-content">
    <form action="index.html">
      <h2 class="title">Seja bem vindo</h2>
      <div class="input-div one" [ngClass]="[activeInput1 ? 'focus' : '' ]">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>Username</h5>
          <input type="text" (blur)="InputChange1Blur($event)" (focus)="InputChange1Focus($event)">
        </div>
      </div>
      <div class="input-div pass" [ngClass]="[activeInput2 ? 'focus' : '' ]">
        <div class=" i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input type="password" (blur)="InputChange2Blur($event)" (focus)="InputChange2Focus($event)">
        </div>
      </div>
      <a href="#">Forgot Password?</a>
      <input type="submit" class="btn" value="Login" [routerLink]="['/dashboard']">
    </form>
  </div>
</div>
