#container{
  width: 100%;
  height: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #6efaa8 , #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#wrapperTable{
  box-sizing: border-box;
  width: 70%;
  height: 600px;
  background:rgb(241, 106, 106);
  padding: 10px;
}


