#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  transform: translate(-35%);
  background-image:radial-gradient(#50eb90,#23bd63);
}

#logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  width: 50%;
  transform: translate(20%,35%);
}

#logo-wrapper img{
  width: 50%;

}

#logo-wrapper p{
  margin-top:3px;
  font-family: "Poppins";
}
