/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
